<a href="https://colab.research.google.com/github/narchitect/NUS_Data-Science/blob/main/Exercise_2_1_Pandas_Fundamentals_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science for Construction, Architecture and Engineering

### Week 2 - Building Design Phase - Intro to Pandas

### Exercise Set 2.1 - Pandas Fundamentals I

This set of exercises is the first of two sets for Week 2. These exercises are designed to give you some hands on experience in trying out the concepts from the first set of videos for this week.

There is an introduction video available to explain the process of using this exercise video.

The lead developer of this exercise is Matias Quintana, a Ph.D. student at NUS and a teaching assistant of this course.

# Exercise 02.1

There are three exercises in this set, each one focused simple uses of the [Pandas library](https://pandas.pydata.org/).

### Please note that you will need to use the resultant output from Exercise 02.1.3 for the Quiz 2.1.

## Exercise 02.1.1 - Load the baseline file

Electrical powermeter datasets usually contain only one column with the electrical consmption in `KWh`. The [Building Data Genome](https://github.com/buds-lab/the-building-data-genome-project) is an example of such template. However, as you just saw in the lectures, you can also generate these datasets yourself after running simulations. 

In this exercise, we would do a bit more manipulation when loading files. In some ocasions, we might want to assign the names of the columns ourselves or we want to have a different index for the rows. Luckily, the function `read_csv` has the appropriate parameters to do this.

Write some lines of code to load the `Baseline` file **without column indices and without header or column names**. Look at the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) for `read_csv` and use the appropriate parameters to **not load the first column as index** (e.g., parameter `index_col`) and to **not use the first row as header** (e.g., parameter `header`).

Be mindful that the `csv` file _does_ have a row (the very first one) that seems to be a header, but let's practice some coding and **not** use it! This means we would need to `skip` the first row when we are loading the file.

As a file step, rename the columns. You can pick any name you want, but as a best practice, a name that best represents the data is always useful (e.g., if the data are `KWh` measurements possible names include Power or Consumption)

The needed functions and libraries are already imported below:

In [ ]:
import pandas as pd
import os
from google.colab import drive

**Hint**: Remember whenever you want to load files from your Google Drive, you need to `mount` the drive first. The documentation for the Pandas library can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) and looking through [Stackoverflow](https://stackoverflow.com/questions/11346283/renaming-columns-in-pandas) is always helpful too

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Mount, change directory, and load the file. Remember to go through `read_csv` documentation to properly use the parameters
# YOUR CODE HERE
os.chdir("/content/drive/MyDrive/EDX Data Science for Construction, Architecture and Engineering/2 - Building Design - Intro to Pandas/simulation_data")

pd.read_csv("Baseline.csv", skiprows=1, header=None)

            0      1
0     January   5.69
1    February   6.75
2       March  10.64
3       April  13.60
4         May  19.34
5        June  22.64
6        July  27.02
7      August  27.13
8   September  25.04
9     October  18.47
10   November  13.02
11   December   7.53

In [ ]:
df =pd.read_csv("Baseline.csv", index_col=0, skiprows=1, names = ['Month', 'Power'])
df

           Power
Month
January     5.69
February    6.75
March      10.64
April      13.60
May        19.34
June       22.64
July       27.02
August     27.13
September  25.04
October    18.47
November   13.02
December    7.53

## Exercise 02.1.2 - Filter dataframe rows based on a threshold

The building facilities manager is concerned about the high consumption during certain months of the year and wants you to investigate on the months that didn't consume higher than a certain `consumption_threshold`. 

Write some lines of code that allows you to filter out the rows where the consumption did not exceed the given `consumption_threshold`. Set `consumption_threshold` equal to 15 initially

In [ ]:
# filter the baseline consumption with the `consumption_threshold` variable
consumption_threshold = 15
# YOUR CODE HERE
df.loc[df["Power"] >= 15]

           Power
Month
May        19.34
June       22.64
July       27.02
August     27.13
September  25.04
October    18.47

## Exercise 02.1.3 - Savings ratio calculation
One energy analysis application is the analysis of *peak consumption ratios*. Suppose we want to know the ratio between the consumption of the month of March versus the peak consumption of the whole year.

In this exercise, let's do this by to finding the *percentage* of March's consumption as compared to the peak consumption value.

Calculate your answer as a percentage (0-100) as the variable `percentage`

Hint: One way to find the maximum value of a column in a dataframe is to use the function `.max()`, more information about the function can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.max.html).

In [ ]:
# Compute the savings for the month of `March`
# YOUR CODE HERE
max = df["Power"].max()
march = df.loc["March","Power"]
percentage = (march/max)*100
percentage

39.218577220788795

### Please write down the number that you calculated for the variable `percentage` rounded up to 2 decimal places and input in Quiz 2.1

In [ ]:
39.218577220788795