<a href="https://colab.research.google.com/github/narchitect/NUS_Data-Science/blob/main/Exercise_2_2_Pandas_Fundamentals_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science for Construction, Architecture and Engineering

### Week 2 - Building Design Phase - Intro to Pandas

### Exercise Set 2.2 - Pandas Fundamentals II

This set of exercises is the second of two sets for Week 2. These exercises are designed to give you some hands on experience in trying out the concepts from the second set of videos for this week.

There is an introduction video available to explain the process of using this exercise video.

The lead developer of this exercise is Matias Quintana, a Ph.D. student at NUS and a teaching assistant of this course.

# Exercise 02.2

There are three exercises in this set, each one slightly more advanced uses of the [Pandas library](https://pandas.pydata.org/).

### Please note that you will need to use the resultant output from Exercise 02.2.3 for the Quiz 2.2.

First, we will help by importing the files the libraries you will need on this notebook:

In [ ]:
import pandas as pd
import os
from google.colab import drive

And mount the google drive folder

In [ ]:
drive.mount('/content/gdrive')
os.chdir("/content/gdrive/My Drive/EDX Data Science for Construction, Architecture and Engineering/2 - Building Design - Intro to Pandas/simulation_data")

Mounted at /content/gdrive

## Exercise 02.2.1 - Load multiples files and concatenate them

As a data scientist in the built environment, you may want to compare different simulation scenarios with a baseline in order to aid the decision making of the stakeholders. By doing this, you can provide better insights to the design team in terms of which strategy is less energy heavy.

The first thing we can do is load all the different scenarios alongside the baseline together. As you saw on the videos, one feature of interative python notebooks is the ability to run UNIX commands, such as `ls`:

In [ ]:
ls

 Baseline.csv                      'Scenario - Increase Setpoint.csv'
 Baseline.gsheet                   'Scenario - Low-E Glass.csv'
'Scenario - Aircon Schedules.csv'  'Scenario - Rooftop Gardens.csv'
'Scenario - Cool roof.csv'

In [ ]:
# when `ls` is ran on a cell with python code, there should be a `!` in front of it
print("some python code")
!ls

some python code
 Baseline.csv			   'Scenario - Increase Setpoint.csv'
 Baseline.gsheet		   'Scenario - Low-E Glass.csv'
'Scenario - Aircon Schedules.csv'  'Scenario - Rooftop Gardens.csv'
'Scenario - Cool roof.csv'

This command lists the contents of a given directory. In your case, is listing the contents of the current directory on which you arrived after mounting the gdrive.

You have already used `.read_csv()` to load a single file, now you are tasked to write a program that loads all the `.csv` files shown by the `ls` command. 

In this exercise go ahead and try loading and manipulating all the scenario files, this time using a **function**.

The function is called `load_all_csv` and the input is a list of string with the file names.

After implementing it, you would only need to run the following one-liner `all_data = load_all_csv(files_names)` to load all the data properly, assuming `file_names` contains the **string** names of all the `csv` files you want .

Complete the function below and verify the files are loaded into `all_data`.

Use this first code cell to define your function:

In [ ]:

def load_all_csv(files_names):
    # Follow this function template: take a list of file names and return one dataframe
    # YOUR CODE HERE
    df = pd.read_csv(f'{files_names}', index_col='Month')
    return df

Now you can write code here that will define the list of scenario files, call the function, and show the resultant DataFrame `all_data`

In [ ]:
# Use the function you just defined and load all the files
# YOUR CODE HERE
list_of_files = ['Baseline.csv',                      
                 'Scenario - Increase Setpoint.csv',
                 'Scenario - Low-E Glass.csv',
                 'Scenario - Aircon Schedules.csv',
                 'Scenario - Rooftop Gardens.csv',
                 'Scenario - Cool roof.csv']
data_container = []
for filename in list_of_files:
  print(filename)
  data_container.append(load_all_csv(filename))

all_data = pd.concat(data_container, axis=1)

Baseline.csv
Scenario - Increase Setpoint.csv
Scenario - Low-E Glass.csv
Scenario - Aircon Schedules.csv
Scenario - Rooftop Gardens.csv
Scenario - Cool roof.csv

In [ ]:
all_data

,Baseline,Scenario - Increase Setpoint,Scenario - Low-E Glass,Scenario - Aircon Schedules,Scenario - Rooftop Gardens,Scenario - Cool roof
Month,,,,,,
January,5.69,2.73,5.41,5.61,6.30,4.46
February,6.75,3.88,6.48,6.50,7.15,5.39
March,10.64,6.60,10.37,9.70,10.90,8.96
April,13.60,9.37,13.36,11.95,13.59,11.73
May,19.34,14.82,19.14,16.52,18.94,17.28
June,22.64,18.01,22.47,18.89,22.12,20.54
July,27.02,21.98,26.84,22.13,26.29,24.76
August,27.13,22.15,26.91,22.14,26.47,24.97
September,25.04,19.92,24.77,20.38,24.63,22.98
October,18.47,13.65,18.16,15.87,18.51,16.57
November,13.02,8.49,12.69,11.71,13.55,11.41
December,7.53,4.15,7.24,7.16,8.19,6.36

## Exercise 02.2.2 - Dataframe column slicing
Sometimes, even if you have all the data we want to compare in one single dataframe, you may want to analyse specific columns rather than all of them.

In this exercise, write some lines of codes that creates a new dataframe containing only data from the `Baseline` and the simulation scenarios regarding **scheduling** and **setpoint** operation.

**Hint**: Look at the instruction code in Exercise 02.01.3 for a reference on how to select a single column.

**Hint**: Remember that when you want to group variables is better to treat them as a list `['a','b']` instead of just two independant variables `'a','b'`. Notice the square brackets.

In [ ]:
# Select only the baseline and simulation scenarios asked above
# YOUR CODE HERE
selected_data = pd.concat([all_data['Baseline'],all_data['Scenario - Aircon Schedules'],all_data['Scenario - Increase Setpoint']], axis=1)
selected_data

           Baseline  Scenario - Aircon Schedules  Scenario - Increase Setpoint
Month
January        5.69                         5.61                          2.73
February       6.75                         6.50                          3.88
March         10.64                         9.70                          6.60
April         13.60                        11.95                          9.37
May           19.34                        16.52                         14.82
June          22.64                        18.89                         18.01
July          27.02                        22.13                         21.98
August        27.13                        22.14                         22.15
September     25.04                        20.38                         19.92
October       18.47                        15.87                         13.65
November      13.02                        11.71                          8.49
December       7.53                         7.16                          4.15

## Exercise 02.2.3 - Calculate maximum value across rows and columns
In this last exercise, let's create an analysis of the `Baseline` and the simulation scenarios chosen before. 

For **each month**, find the scenario (column) with the **lowest** consumption value. Then, in order to calculate the **energy savings** potential of this scenario **on this month**, find the scenario (column) with the **highest** value. The energy savings percentage can be then calculated as one minus the ratio of these values all multiplied by 100. You save these values in the list `savings`.

Finally, report the `maximum` percentage of energy savings, across all months, as well as the **month** where this is achieved.

**Hint**: One way to select specific rows in a dataframe is by choosing the index with the function `.iloc[]`. This function accepts arguments in the form of `row_indices` or `row_indices, column_indices` (indices start with 0 in Python). Remember that execution the same action multiple times (Calculating the savings percentage, can be automated in a `for loop`

In [ ]:
# You can use the variable `savings` to keep track of the increase from baseline to best scenario
savings = []
# YOUR CODE HERE

min = selected_data.min(axis=1)
max = selected_data.max(axis=1)

saving_per = (1-(min/max))*100
selected_data['Savings'] = saving_per

selected_data

,Baseline,Scenario - Aircon Schedules,Scenario - Increase Setpoint,Savings
Month,,,,
January,5.69,5.61,2.73,52.021090
February,6.75,6.50,3.88,42.518519
March,10.64,9.70,6.60,37.969925
April,13.60,11.95,9.37,31.102941
May,19.34,16.52,14.82,23.371251
June,22.64,18.89,18.01,20.450530
July,27.02,22.13,21.98,18.652850
August,27.13,22.14,22.15,18.392923
September,25.04,20.38,19.92,20.447284
October,18.47,15.87,13.65,26.096372
November,13.02,11.71,8.49,34.792627
December,7.53,7.16,4.15,44.887118

### Please write down the month with the **highest savings** and input it in Quiz 2.2

In [ ]:
52.021090